@import url('https://fonts.googleapis.com/css?family=Raleway:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
:before, :after {
  box-sizing: border-box;
}
*:not(i) {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

body {
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.container {
  max-width: 1140px;
  /* background-color: #ff0000; */
  margin: auto;
}

.header {
  background-color: #808080;
  padding: 20px 15px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;

}

.header .logo {
  height: 40px;
  width: 40px;
  display: inline-block;
  text-align: center;
  line-height: 36px;
  font-size: 24px;
  color: var(--skin-color);
  border-radius: 50%;
  border: solid 2px var(--skin-color);
}

.row {
  display: flex;
  flex-direction: row;
}

.justify-content-between {
  justify-content: space-between;
}

.header .hamburger-btn {
  height: 40px;
  width: 40px;
  background-color: purple;
}
