@import url('https://fonts.googleapis.com/css?family=Raleway:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
:before, :after {
  box-sizing: border-box;
}
*:not(i) {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

:root {
  --bg-black-900: #000000;
  --bg-black-100: #dddddd;
  --bg-black-50: #eff0f4;
  --text-black-900: #000000;
  --text-black-700: #555555;
  --text-black-600: #666666;
  --text-black-300: #bbbbbb;
  --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
  --outer-shadow-0: 0px 0px 0px #d0d0d0, 0px 0px 0px #f8f8f8;
  --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
}

body {
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.container {
  max-width: 1140px;
  /* background-color: #ff0000; */
  margin: auto;
}

.header {
  padding: 20px 15px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;

}

.header .logo {
  height: 40px;
  width: 40px;
  display: inline-block;
  text-align: center;
  line-height: 36px;
  font-size: 24px;
  color: var(--skin-color);
  border-radius: 50%;
  font-weight: 600;
  text-transform: uppercase;
  border: solid 2px var(--skin-color);
}

.row {
  display: flex;
  flex-direction: row;
}

.justify-content-between {
  justify-content: space-between;
}

.outer-shadow {
  box-shadow: var(--outer-shadow);
}

.header .hamburger-btn {
  height: 40px;
  width: 40px;
  /* box-shadow: 0 0 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .hamburger-btn span {
  display: block;
  position: relative;
  height: 2px;
  width: 16px;
  background-color: var(--bg-black-900);
}

.header .hamburger-btn span::after,
.header .hamburger-btn span::before {
  content: '';
  position: absolute;
  left: 0;
  width: 16px;
  height: 2px;
  background-color: var(--bg-black-900);
}

.header .hamburger-btn span::before {
  top: -6px
}

.header .hamburger-btn span::after {
 top: 6px
}